USE [luna_gamedb_2025]
GO
/****** Object:  StoredProcedure [dbo].[MP_CHARACTER_ItemInfo_New]    Script Date: 30/08/2025 01:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
080124 웅주, 로딩 속도 향상을 위해 아이템 옵션 정보를 조인해서 함께 읽도록 함
*/
ALTER  PROC [dbo].[MP_CHARACTER_ItemInfo_New]
(
	@CHAR_IDX	int
)
AS
	SET NOCOUNT ON
	
	IF NOT EXISTS(	SELECT NULL
					FROM TB_ITEM
					WHERE CHARACTER_IDX = @CHAR_IDX )
	BEGIN
		SELECT @CHAR_IDX, 0
		RETURN
	END
	
	SELECT  A.CHARACTER_IDX,
			A.ITEM_DBIDX,
			A.ITEM_IDX,
			A.ITEM_POSITION, 
	        A.ITEM_QPOSITION,
	        A.ITEM_DURABILITY,
	        A.ITEM_PARAM,
	        A.ITEM_SEAL, 
	        DATEDIFF(SECOND, GETDATE(), A.ITEM_ENDTIME), 
	        A.ITEM_REMAINTIME,
	        ISNULL( B.REINFORCE_STRENGTH, 0 ),
	        ISNULL( B.REINFORCE_DEXTERITY, 0 ), 
	        ISNULL( B.REINFORCE_VITALITY, 0 ),
	        ISNULL( B.REINFORCE_INTELLIGENCE, 0 ), 
	        ISNULL( B.REINFORCE_WISDOM, 0 ),
	        ISNULL( B.REINFORCE_LIFE, 0 ),
	        ISNULL( B.REINFORCE_MANA, 0 ), 
	        ISNULL( B.REINFORCE_LIFE_RECOVERY, 0 ),
	        ISNULL( B.REINFORCE_MANA_RECOVERY, 0 ), 
	        ISNULL( B.REINFORCE_PHYSIC_ATTACK, 0 ),
	        ISNULL( B.REINFORCE_PHYSIC_DEFENCE, 0 ), 
	        ISNULL( B.REINFORCE_MAGIC_ATTACK, 0 ),
	        ISNULL( B.REINFORCE_MAGIC_DEFENCE, 0 ), 
	        ISNULL( B.REINFORCE_MOVE_SPEED, 0 ),
	        ISNULL( B.REINFORCE_EVADE, 0 ), 
	        ISNULL( B.REINFORCE_ACCURACY, 0 ),
	        ISNULL( B.REINFORCE_CRITICAL_RATE, 0 ), 
	        ISNULL( B.REINFORCE_CRITICAL_DAMAGE, 0 ),
	        ISNULL( B.REINFORCE_MADEBY, '' ),
	        ISNULL( B.MIX_STRENGTH, 0 ), 
	        ISNULL( B.MIX_INTELLIGENCE, 0 ),
	        ISNULL( B.MIX_DEXTERITY, 0 ),
	        ISNULL( B.MIX_WISDOM, 0 ),
	        ISNULL( B.MIX_VITALITY, 0 ), 
	        ISNULL( B.MIX_MADEBY, '' ),
	        ISNULL( B.ENCHANT_INDEX, 0 ),
	        ISNULL( B.ENCHANT_LEVEL, 0 ), 
	        ISNULL( B.ENCHANT_MADEBY, '' ),
			ISNULL( C.KEY1, 0 ),
	        CAST( ROUND( ISNULL( C.VALUE1, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
	        ISNULL( C.KEY2, 0 ),
	        CAST( ROUND( ISNULL( C.VALUE2, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
	        ISNULL( C.KEY3, 0 ),
	        CAST( ROUND( ISNULL( C.VALUE3, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
	        ISNULL( C.KEY4, 0 ),
	        CAST( ROUND( ISNULL( C.VALUE4, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
	        ISNULL( C.KEY5, 0 ),
	        CAST( ROUND( ISNULL( C.VALUE5, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
			ISNULL(A.TRANSMOG_IDX, 0)
	FROM    TB_ITEM A  LEFT OUTER JOIN
	        TB_ITEM_DROP_OPTION C  ON 
	        A.ITEM_DBIDX = C.ITEM_DBIDX LEFT OUTER JOIN
	        TB_ITEM_OPTION2 B  ON A.ITEM_DBIDX = B.ITEM_DBIDX
	WHERE	A.CHARACTER_IDX = @CHAR_IDX
	ORDER BY A.ITEM_DBIDX
	
	RETURN	

/*
-- 080123 이전 코드
if not exists (	SELECT NULL
				FROM TB_ITEM
				WHERE CHARACTER_IDX = @CHAR_IDX )
begin
		select 0, @CHAR_IDX
		RETURN
	end
else
	begin
		select character_idx, item_dbidx, item_idx, item_position, item_qposition, item_durability,item_param, item_rareidx,ITEM_SEAL,DATEDIFF(second, GetDate(), ITEM_ENDTIME) 
	,ITEM_REMAINTIME
			 from TB_ITEM with(readuncommitted) where CHARACTER_IDX=@CHAR_IDX

		RETURN
	end
*/


select *
from tb_item_drop_option
where item_dbidx = 24027316

