USE LUNA_GAMEDB_2025
GO
/****** Object:  StoredProcedure [dbo].[MP_ITEM_INSERT_REVERSED_TRANSMOG]    Script Date: 30/08/2025 03:03:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
/*
081013 LUJ, 웹을 통해 아이템을 추가할 때 쓰는 프로시저
*/
CREATE  proc [dbo].[MP_ITEM_INSERT_REVERSED_TRANSMOG]
(
	@USER_IDX		INT,
	@ITEM_IDX		INT,
	@ITEM_QUANTITY		INT,
	@ITEM_SEAL		INT
)
as
	SET NOCOUNT ON

	

	INSERT	TB_ITEM (
			ITEM_IDX,
			ITEM_DURABILITY, 
			ITEM_SHOPIDX,
			ITEM_POSITION,
			ITEM_SEAL,
			CHARACTER_IDX )
	VALUES		(
			@ITEM_IDX,
			@ITEM_QUANTITY,
			@USER_IDX,
			0,
			@ITEM_SEAL,
			0 )

	SELECT item_dbidx , item_position , item_idx , item_shopidx FROM TB_ITEM WHERE ITEM_DBIDX = @@IDENTITY

	RETURN 


	
