USE LUNA_GAMEDB_V2
GO
/****** Object:  StoredProcedure [dbo].[MP_ITEM_TRANSMOG_REVERSE]    Script Date: 30/08/2025 03:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MP_ITEM_TRANSMOG_REVERSE]
(
	@ITEM_DBIDX int
)

AS
	SET NOCOUNT ON
	
	UPDATE TB_ITEM 
	SET TRANSMOG_IDX = ''
	WHERE ITEM_DBIDX = @ITEM_DBIDX
	
	--insert into luna_logdb.dbo.TB_TransmogLog(item_dbidx,dummy_dbidx , dummy_itemidx)
	--values(@ITEM_DBIDX , @DUMMY_DBIDX , @DUMMY_3D)
	RETURN


