USE [LUNA_GAMEDB_2025]
GO
/****** Object:  StoredProcedure [dbo].[mp_npcremaintime_update]    Script Date: 24/08/2025 11:21:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------ ?? npc ?? db ?? ???? ????
	ALTER proc [dbo].[mp_npcremaintime_update]
	(
		@created_idx	int
	--,	@npc_idx	smallint
	--,	@map_idx	smallint
	,	@agentnum		tinyint
	,	@remaintick	int
	)

	as

		set nocount on

		update tb_npc_remaintime

		set remaintick = @remaintick

		where	createdidx	= @created_idx
		--where	npcidx		= @npc_idx
		--and	mapidx		= @map_idx
		and	agentnum	= @agentnum


