USE LUNA_GAMEDB_2025
GO
/****** Object:  StoredProcedure [dbo].[mp_npcremaintime_delete]    Script Date: 24/08/2025 11:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------------------------------------------------------------------------------------------------
	-- ?? ?? ???? ??.
	--------------------------------------------------------------------------------------------------

	------------------------------------------------------------------ ?? npc ?? db ?? ?? ????
	ALTER proc [dbo].[mp_npcremaintime_delete]
	(
		@created_idx		bigint
	--,	@npc_idx		smallint
	--,	@map_idx		smallint
	,	@agentnum		tinyint
	)

	as

		set nocount on

	declare	@result			tinyint

	if not exists ( select count(*) from tb_npc_remaintime 
	where createdidx = @created_idx)	
		begin
			set @result = 0 
			select @result, @agentnum--@npc_idx, @map_idx
		end
	else
		begin
			delete from tb_npc_remaintime

			where 	createdidx	= @created_idx
			--and	npcidx		= @npc_idx
			--and	mapidx		= @map_idx
			and	agentnum	= @agentnum
		end


