USE LUNA_GAMEDB_2025
GO
/****** Object:  StoredProcedure [dbo].[mp_npcremaintime_insert]    Script Date: 24/08/2025 11:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------ ?? npc ?? db ?? ?? ????
	ALTER proc [dbo].[mp_npcremaintime_insert]
	(
		@created_idx		bigint
	,	@npc_idx		smallint
	,	@map_idx		smallint
	--,	@remaintick		bigint
	--,	@dwconnectionidx	bigint
	,	@agentnum		tinyint
	,	@remaintick		bigint
	)

	as

		set nocount on

	declare	@count1		int
	,	@count2		int
	,	@result		tinyint

	set @count1 = 0

	set @count2 = (select count(*) from tb_npc_remaintime

	where	createdidx	= @created_idx
	and	npcidx		= @npc_idx
	and	mapidx		= @map_idx
	and	agentnum	= @agentnum 
	)

	if @count1 >= @count2
		begin
			insert tb_npc_remaintime
			(
				createdidx
			,	npcidx
			,	mapidx
			,	remaintick
			--,	connectionidx
			,	agentnum
			)
			values
			(
				@created_idx
			,	@npc_idx
			,	@map_idx
			,	@remaintick
			--,	@dwconnectionidx
			,	@agentnum
			)
		end
	else
		begin
			update	tb_npc_remaintime

			set	remaintick	= @remaintick
			--,	connectionidx	= @dwconnectionidx
		end


