USE [luna_gamedb_2025]
GO
/****** Object:  StoredProcedure [dbo].[MP_STORAGE_ItemInfo]    Script Date: 30/08/2025 02:40:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
080128 웅주, 옵션을 함께 읽도록 함
090624 LUJ, 액세스가 많은 TB_ITEM을 dirty read하여 데드락 발생 여지를 최소화시킴
*/
ALTER   PROC [dbo].[MP_STORAGE_ItemInfo]
(
		@USER_IDX			INT,
		@BEGIN_ITEM_DBIDX	INT
)
AS
	SET NOCOUNT ON

	SELECT TOP 100
		0,
		A.ITEM_DBIDX,
		A.ITEM_IDX,
		A.ITEM_POSITION, 
		A.ITEM_QPOSITION,
		A.ITEM_DURABILITY,
		A.ITEM_PARAM,
		A.ITEM_SEAL,
		DATEDIFF(SECOND, GETDATE(), A.ITEM_ENDTIME), 
		A.ITEM_REMAINTIME,
		ISNULL( B.REINFORCE_STRENGTH, 0 ),
		ISNULL( B.REINFORCE_DEXTERITY, 0 ), 
		ISNULL( B.REINFORCE_VITALITY, 0 ),
		ISNULL( B.REINFORCE_INTELLIGENCE, 0 ), 
		ISNULL( B.REINFORCE_WISDOM, 0 ),
		ISNULL( B.REINFORCE_LIFE, 0 ),
		ISNULL( B.REINFORCE_MANA, 0 ), 
		ISNULL( B.REINFORCE_LIFE_RECOVERY, 0 ),
		ISNULL( B.REINFORCE_MANA_RECOVERY, 0 ), 
		ISNULL( B.REINFORCE_PHYSIC_ATTACK, 0 ),
		ISNULL( B.REINFORCE_PHYSIC_DEFENCE, 0 ), 
		ISNULL( B.REINFORCE_MAGIC_ATTACK, 0 ),
		ISNULL( B.REINFORCE_MAGIC_DEFENCE, 0 ), 
		ISNULL( B.REINFORCE_MOVE_SPEED, 0 ),
		ISNULL( B.REINFORCE_EVADE, 0 ), 
		ISNULL( B.REINFORCE_ACCURACY, 0 ),
		ISNULL( B.REINFORCE_CRITICAL_RATE, 0 ), 
		ISNULL( B.REINFORCE_CRITICAL_DAMAGE, 0 ),
		ISNULL( B.REINFORCE_MADEBY, '' ),
		ISNULL( B.MIX_STRENGTH, 0 ), 
		ISNULL( B.MIX_INTELLIGENCE, 0 ),
		ISNULL( B.MIX_DEXTERITY, 0 ),
		ISNULL( B.MIX_WISDOM, 0 ),
		ISNULL( B.MIX_VITALITY, 0 ), 
		ISNULL( B.MIX_MADEBY, '' ),
		ISNULL( B.ENCHANT_INDEX, 0 ),
		ISNULL( B.ENCHANT_LEVEL, 0 ), 
		ISNULL( B.ENCHANT_MADEBY, '' ),
		ISNULL( C.KEY1, 0 ),
		CAST( ROUND( ISNULL( C.VALUE1, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
		ISNULL( C.KEY2, 0 ),
		CAST( ROUND( ISNULL( C.VALUE2, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
		ISNULL( C.KEY3, 0 ),
		CAST( ROUND( ISNULL( C.VALUE3, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
		ISNULL( C.KEY4, 0 ),
		CAST( ROUND( ISNULL( C.VALUE4, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
		ISNULL( C.KEY5, 0 ),
		CAST( ROUND( ISNULL( C.VALUE5, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
		ISNULL(A.TRANSMOG_IDX, 0)
	FROM	TB_ITEM A WITH (NOLOCK) LEFT OUTER JOIN
		TB_ITEM_DROP_OPTION C WITH (NOLOCK) ON 
		A.ITEM_DBIDX = C.ITEM_DBIDX LEFT OUTER JOIN
		TB_ITEM_OPTION2 B WITH (NOLOCK) ON A.ITEM_DBIDX = B.ITEM_DBIDX
	WHERE	(A.ITEM_DBIDX > @BEGIN_ITEM_DBIDX) AND (A.ITEM_PYOGUKIDX = @USER_IDX)
	ORDER BY A.ITEM_DBIDX
	RETURN


/*
-- 080128 이전
if exists (select null from tb_item where (ITEM_DBIDX > @Start) and (ITEM_PYOGUKIDX = @User_IDX) )
begin
	select top 100    
		ITEM_DBIDX
	, 	ITEM_IDX
	, 	ITEM_POSITION
	, 	ITEM_QPOSITION
	, 	ITEM_DURABILITY
	, 	ITEM_RAREIDX  
	,	ITEM_SEAL
--	,	DATEDIFF(second, GetDate(), ITEM_ENDTIME) 
	,	case when ITEM_ENDTIME > getdate()  then DATEDIFF(second, GetDate(), ITEM_ENDTIME) else 0 end as 'DIFFTIME'
	,	ITEM_REMAINTIME
	

	from tb_item 
	where (ITEM_DBIDX > @Start) and (ITEM_PYOGUKIDX = @User_IDX) order by ITEM_DBIDX
				
end
else
	select   0
*/

