USE [LUNA_MEMBERDB_2025]
GO
/****** Object:  StoredProcedure [dbo].[up_GameLoginAdult_FREE]    Script Date: 13/08/2025 23:21:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
080111 웅주, 1시간에 60회 접속 시도한 경우 해당 IP를 블럭한다
*/

ALTER         PROC [dbo].[up_GameLoginAdult_FREE]     
/*        
작성자 : 김혜진
수정일 : 2004.07.29. 오후6:37  
수정내용 : 클베신청자들과 18세이상 로그인

090310 LUJ, 성공 반환 시 로그인 아이디를 함께 반환하도록 함
*/        
(        
  @id_loginid varchar(16),       --아뒤  
  @id_passwd varchar(16),      --패스  
  @ip varchar(16),                  --아이피  
  @kind  char(1), --서버 코드        
  @AuthKey  varchar(16), --게임고유번호        
  @MaxUser	int, --서버군 유저 제한
  @ageyear  int, --제한나이
  @agentnum tinyint,
  @securityPW varchar(4)                                     -- 추가 인자로 보안 비밀 번호를 받는다.
)        
AS        
SET NOCOUNT ON -- 결과 안내가 레코드 수로 반환하지 않는다(ON/OFF)        
--SET XACT_ABORT ON --런타임 오류가 발생할 경우 전체 트랜잭션이 종료된 후 롤백됩니다        
/*
-- 080111 웅주, 1시간에 60회 접속 시도한 경우 해당 IP를 블럭한다
IF NOT EXISTS
(
	SELECT NULL FROM Game_Login_Ip_block WHERE IP = @IP
)
BEGIN
	DECLARE @DATE	DATETIME
	DECLARE @COUNT	SMALLINT
	
	SELECT @DATE = [DATE], @COUNT = [COUNT] FROM Game_Login_Count WHERE @IP = IP
	
	-- 값이 없는 경우 삽입
	IF @DATE IS NULL
	BEGIN
		INSERT Game_Login_Count ( IP ) VALUES ( @IP )
	END
	-- 30분 경과 시 값을 초기화한다
	ELSE IF 30 < DATEDIFF( MINUTE, @DATE, GETDATE() )
	BEGIN
		UPDATE Game_Login_Count	SET [DATE] = GETDATE(), [COUNT] = 1 WHERE IP = @IP
	END
	-- 시도 회수가 30회 경과 시 차단한다
	ELSE IF 30 <= @COUNT
	BEGIN
		INSERT Game_Login_ip_block ( IP, REGDATE, TRY_COUNT ) VALUES( @IP, GETDATE(), @COUNT )
	END
	ELSE
	-- 모든 조건에 해당되지 않은 경우 값만 증가시킨다
	BEGIN
		UPDATE Game_Login_Count	SET [COUNT] = [COUNT] + 1 WHERE IP = @IP
	END
END
*/	       
DECLARE   @UserLevel tinyint  
DECLARE @propid varchar(15) --id 고유 값        
DECLARE @billtype char(10) -- 결제 타입        
DECLARE @nopay char(1) --타입이 b로 시작하면 무조건 통과 평생 무료 아이디  
DECLARE @eday datetime --개인 만료 기간        
DECLARE @p_eday datetime --pc방 만료 날짜  
DECLARE @p_idx int --pc방 고유값        
DECLARE @timeremain int --개인 남은 시간        
DECLARE @p_time int --피씨방의 남은 시간  
DECLARE @p_id varchar(20)--피씨방 아이디  
DECLARE @state_num int -- 유저 상태 탈퇴??? 제제???        
DECLARE @eeday datetime --날짜를 반환 할 수 없을때 임으로 하루 전날을 리턴해 준다.  
DECLARE @lev int --게임 레벨 나중에 쓴다 나중에 ... 나중에.. 유저가 로그 아웃 할때 레벨을 받아서 저장 한다...제발. 저장하자 그래야 웹게임에도 응용 할 수 있다.        
DECLARE @nalja varchar(10) --login_log 날짜 별로 저장        
DECLARE @SQL varchar(4000) --LOGIN_LOG 테이블을 만들기 위한 병수 구병수 유병수  
DECLARE @PC_IP int       --PC방 아이피  
DECLARE @kind2 int      --받은 서버명 그대로 넘겨줌  
DECLARE @free_time int --하루 1시간 사용 합니다.        
DECLARE @remain_free  INT--무료 한시간 중 남은 시간.  
DECLARE @game_in_date datetime -- 마지막 로그 아웃 한 시간  
DECLARE @UserCount int -- 현재 서버군의 총인원      
DECLARE @age int --나이 
DECLARE @age_mon int --나이 
DECLARE @age_day int
DECLARE @security_pw         varchar(4)       -- 유저의 보안 비밀 번호를 담을 변수 선언
DECLARE @use_sec_pass     bit                    -- 보안 비밀 번호의 사용 여부를 담을 변수 선언

SET @kind2= cast(@kind as int)        
SET @eeday = dateadd(d, -1, getdate())        
SET @nalja=(select convert(varchar(4), datepart(yyyy, getdate()))+convert(varchar(4), datepart(mm, getdate()))+convert(varchar(4), datepart(dd, getdate())))        
/* 
IF NOT EXISTS (SELECT 1 FROM TB_PermitIP with(nolock) WHERE IP = @ip)              
begin    
 declare @err varchar(3)    
 exec ref_chk_ip @ip,@err output    
 if( @err = 'CN')--- or @err = 'TW' )    
 begin    
  select 999, @kind2, 0, 0, 0, 0, @AuthKey, 0 
  return    
 end     
end
*/

--IF NOT EXISTS (SELECT 1 FROM chr_log_info  with(nolock) WHERE id_loginid = @id_loginid)        
--BEGIN        
--       --로그인여부/서버코드/propid/결제(eday,time,결제요망)/eday/time/체험판사용유저/게임고유넘버(@AuthKey)  
--       SELECT  2,@kind2, 0, 0,  0, 0,@AuthKey,@UserLevel --없는 아이디 입니다.        
--       RETURN        
-- END        

  
--if not 1 = ( select pwdcompare( cast(@id_passwd as varbinary(100)), id_passwd ) from chr_log_info where id_loginid = @id_loginid )  
    
IF NOT EXISTS (SELECT 1 From chr_log_info  with(nolock) Where id_loginid = @id_loginid and id_passwd = @id_passwd)        
BEGIN        
      SELECT  3, @kind2, 0, 0,  0, 0,@AuthKey,@UserLevel --비밀번호가 틀립니다.        
      RETURN        
END   
/*
select @use_sec_pass = id_pass_sec_check from chr_log_info where  id_loginid = @id_loginid             -- 보안 비밀 번호를 받는다.
select @security_pw = id_pass_sec from chr_log_info where  id_loginid = @id_loginid                               -- 보안 비밀 번호 사용 여부를 받는다.
     
-- 실제로 유저의 정보에 따른, 보안 비밀번호 체크 루틴.
if @use_sec_pass = 1                                                                                                  -- 보안 비밀번호를 사용한다면,
begin
             if @security_pw is null                                                                                     -- 혹시라도, 비밀번호 등록이 안되어 있으면,
             begin
             select 10, @kind2, 0, 0,  0, 0,@AuthKey,@UserLevel                                                     -- 비밀번호 재등록 에러 메시지를 리턴한다.
             return
             end
else
             if @security_pw <> @securityPW                                                                     -- 비밀번호가 일치 하지 않는다면,
             begin 
             select 9, @kind2, 0, 0,  0, 0,@AuthKey,@UserLevel                                         --보안 비밀번호가 틀리다는 에러 메시지를 리턴한다.
             return
             end
end
        
  */      
Select @propid=propid,@state_num=sta_num, @eday=id_eday, @timeremain=remain_time, @billtype=n_billtype,@UserLevel=UserLevel From chr_log_info (nolock) Where id_loginid = @id_loginid  
/*
IF EXISTS (SELECT 1 FROM Game_Login_ip_block with(nolock) WHERE ip = @ip)                
     BEGIN          
          SELECT 5, @kind2, @propid, 0, 0, 0,@AuthKey,@UserLevel        --ip게임 블럭 유저          

          RETURN          
     END     
-- 090710 LUJ, 이미 로그인되어있는 상태인지 검사한다. 0은 테스트 서버, 그외 번호는 리얼 서버
BEGIN
	DECLARE @LOGIN_SERVER INT

	IF 0 = @kind2
	BEGIN
		SELECT @LOGIN_SERVER = KIND
		FROM LOGINTABLE WITH( NOLOCK )
		WHERE USER_ID = @ID_LOGINID AND 0 = KIND
	END
	ELSE
	BEGIN
		SELECT @LOGIN_SERVER = KIND
		FROM LOGINTABLE WITH( NOLOCK )
		WHERE USER_ID = @ID_LOGINID AND 0 < KIND
	END

	IF @LOGIN_SERVER IS NOT NULL
	BEGIN
		SELECT 4, @kind2, @PROPID, 0, 0, 0, @AUTHKEY, @USERLEVEL
		RETURN
	END
END
*/
/*
IF EXISTS (Select 1 From LoginTable  with(nolock) Where user_id = @id_loginid)         
BEGIN        
 Select @kind2=kind From LoginTable  with(nolock) Where user_id =@id_loginid        
 SELECT 4, @kind2, @propid, 0, 0, 0,@AuthKey,@UserLevel  --이미 게임에 접속 중입니다.         
 RETURN        
END        
*/
/*        
IF @state_num <> 4 --클베참가자만 제한  state_num=4 인사람들이 클베참가자 
   BEGIN
       SELECT 14,@kind2, @propid, 0,  0, 0,@AuthKey,@UserLevel 
       RETURN     
   END
 */
/*****************************************************************************************************/

/*
select @age=year(getdate())-cast('19'+left(id_jumin,2) as integer) from chr_log_info_plus  with(nolock) where id_loginid=@id_loginid
select @age_mon=convert(char,substring(id_jumin,3,2)),@age_day=convert(char,substring(id_jumin,3,2))  from chr_log_info_plus  with(nolock) where id_loginid=@id_loginid

--생일안지난 사람들 한살뺌 만나이계산 
IF    convert(datetime,getdate())  <   convert(datetime,  cast (year(getdate()) as char) +cast(@age_mon as char)+cast(@age_day as char) )
       BEGIN
       set @age=@age-1
       END  

IF @age < @ageyear --만나이체크가 넘겨온나이보다 작으면  
       BEGIN
          SELECT 15,@kind2, @propid, 0,  0, 0,@AuthKey,@UserLevel 
          RETURN
      END
*/
/***************************************************************************************/


IF EXISTS (Select 1 From LoginTable with(nolock) Where user_id = @id_loginid)         
BEGIN

	Select @kind2=kind From LoginTable with(nolock) Where user_id = @id_loginid        
	SELECT 4, @kind2, @propid, 0, 0, 0,@AuthKey,@UserLevel  --이미 게임에 접속 중입니다.         
	RETURN        
END       

IF @state_num = 6 --블럭 타입들        
BEGIN        
 SELECT 5,@kind2, @propid, 0,  0, 0,@AuthKey,@UserLevel --게임 블럭 유저        
 RETURN        
END        

---KES PUNISH
declare @punish_time smalldatetime
select @punish_time = DATEADD( second, punish_time, reg_date ) from tb_punishlist where user_idx = @propid and punish_kind = 0
--set @punish_time = getdate()-1	--테스트코드
if @@rowcount > 0
begin
	if @punish_time > getdate()
	begin
		SELECT 11,@kind2, @propid, 0, DATEDIFF( minute, getdate(), @punish_time ), 0,@AuthKey,@UserLevel
		return
	end
end
------------------------

IF @state_num = 9 --14세미만 임시가입 (12,13세들 부모동의 받지않은 사람들)       
BEGIN        
 SELECT 6,@kind2, @propid, 0,  0, 0,@AuthKey,@UserLevel --14세미만 임시가입        
 RETURN        
END        

select @UserCount = count(*) from logintable  with(nolock) where kind = @kind2
IF @UserCount >= @MaxUser -- 인원 제한
BEGIN        
 SELECT 8, @kind2, @propid, 0,  0, 0,@AuthKey,@UserLevel --인원제한 
 RETURN        
END   

        
IF @state_num = 8 --블럭 타입들        
BEGIN        
 SELECT 50,@kind2, @propid, 0,  0, 0,@AuthKey,@UserLevel --회원 탈퇴        
 RETURN        
END        
  
/*IF NOT EXISTS (Select 1 From Chr_log_info  Where id_real=1 and  id_loginid=@id_loginid) 
     BEGIN
	SELECT 16,@kind2, @propid, 0,  0, 0,@AuthKey,@UserLevel --실명인증한자 만이 접속 가능합니다.
	RETURN
    END */
  
  
SELECT  @propid=propid, @eday=id_eday, @timeremain = remain_time, @billtype = n_billtype,@game_in_date=game_in_date  FROM chr_log_info with(nolock) WHERE id_loginid = @id_loginid         
SET @nopay = (Select substring(n_billtype,1,1) From chr_log_info with(nolock) Where id_loginid = @id_loginid)        

 BEGIN TRAN          
/* insert LoginTable(user_id,propid,ip,kind,billtype,type,Agent_no, Auth_Key) values(@id_loginid,@propid,@ip,@kind,@billtype,0,@agentnum,@AuthKey)         
    --------------------------------------------------------------------------------------------------------------------------------------        
    SET @SQL='insert login_log_'+@nalja+' (login_id,type,status,time,today,today_day,ip,propid,kind,billtype) '        
    SET @SQL=@SQL+' values('''+@id_loginid+''',0,4,getdate(), DATEPART(yyyy,  getdate())*1000000+DATEPART(mm, getdate())*10000+DATEPART(dd,  getdate())*100+datepart(hh,getdate()),DATEPART(yyyy,  getdate())*10000+DATEPART(mm, getdate())*100+DATEPART(dd,  getdate()),'''+@ip+''','+@propid+','+@kind+','''+@billtype+''') '        
    exec (@SQL)         
    --------------------------------------------------------------------------------------------------------------------------------------    
*/    
   update chr_log_info set game_in_date =getdate() where id_loginid=@id_loginid   --최근 로그인 시간  

--===ADD 05.04.26  
	declare @Start_date datetime  
	set @Start_date = getdate()  
	insert into login_log (login_id,ip,server_no,Start_date,END_date) values(@id_loginid,@ip,@kind,@Start_date,@Start_date)  
	--3.LoginTable 에 인서트  
	INSERT INTO LoginTable(user_id, propid, ip, kind, billtype, type, agent_no, auth_key,login_date) VALUES  
	    (@id_loginid, @propid, @ip, @kind, @billtype, 0, @agentnum, @AuthKey,@Start_date)           
  
  
 IF @@ERROR > 0        
      BEGIN        
        ROLLBACK TRAN        
          SELECT 7, @kind2, @propid, 0,  0, 0,@AuthKey,@UserLevel,@agentnum   --실패 
        RETURN        
     END  
        
ELSE        
     BEGIN        
        COMMIT TRAN         
       	-- 090310 LUJ, 중국측 피로도 시스템을 위해 
        SELECT 1, @kind2, @propid, @billtype,  @timeremain, 0,@AuthKey,@UserLevel,@agentnum, @id_loginid
      RETURN        
     END

RETURN
